{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h1>Portfolio</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for holding in holdings %}
                <tr>
                    <td>{{ holding.symbol }}</td>
                    <td>{{ holding.name }}</td>
                    <td>{{ holding.shares }}</td>
                    <td>{{ holding.price | usd }}</td>
                    <td>{{ holding.total | usd }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">Cash</td>
                <td>{{ cash | usd }}</td>
            </tr>
            <tr>
                <th colspan="4">Grand Total</th>
                <th>{{ total | usd }}</th>
            </tr>
        </tbody>
    </table>
{% endblock %}
